.card:hover .col3 {
  /*  min width = minimum de taille en mobile */
  min-width: 80px;
  flex-basis: 50px;
  }
  .card:hover .icon {
  animation: TheRotator 400ms ease-in-out;
  }
      
  /* rotation */
  @keyframes TheRotator {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
  }