body{
    background-color: white;
    font-family: 'Roboto';
}
h2, h3, {
    font-family: 'Roboto';
    font-weight: 700;
    h1{
        padding: 20%;
    }
    h4{
        font-family: 'Shrikhand';
    }
}

a{
    text-decoration: none;
    color: $color-white;
    &:visited{
        color: $color-white;
    }
}
i {
    font-family: 'FontAwesome';
    padding-left: 10px;
    padding-right: 10px;
}