body {
  background-color: white;
  font-family: "Roboto";
}
.titre{
  h2,
  h3 {
    font-family: "Roboto";
    font-weight: 700;
    h1 {
      color: $color-stronggrey;
    }
    h4 {
      font-family: "Shrikhand";
    }
  }
}
a {
  text-decoration: none;
  color: $color-white;
  &:visited {
    color: $color-white;
  }
}
i {
  font-family: "FontAwesome";
  padding-left: 10px;
  padding-right: 10px;
}
.titre-menu{
  h1 {
    color: $color-stronggrey;
    font-family: "Shrikhand";
  }
  h2{
    font-weight: 200;
  }
  h3{
  font-family: "Roboto";
  font-weight: 700;
}
}
.overflow-menu {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
