/*-- couleurs --*/
$colour-primaire:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$color-white: white;
$color-softgrey: #F2F2F2;
$color-regulargray:#eaeaea ;
$color-mediumgrey: gray;
$color-stronggrey: #353535;