/*-- couleurs --*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-white: white;
$color-softgrey: #F2F2F2;
$color-regulargrey:#eaeaea ;
$color-mediumgrey: rgb(160, 157, 157);
$color-stronggrey: #353535;

/*-- Tailles --*/
$size-logo : 32px;
$size-txt : 15px;
$size-titre-resaurant: 25px;