.style-btn {
      width: 250px;
      height: 40px;
      align-items: center;
      justify-content: space-around;
      font-size: 18px;
      border-radius: 30px;
      border:0px;
      color: white;
      box-shadow: 1px 4px 8px $color-mediumgrey;
      
      background: $color-primary;
      background: -moz-linear-gradient(
        top,
        $color-secondary 0%,
        $color-primary 100%
      );
      background: -webkit-linear-gradient(
        top,
        $color-secondary 0%,
        $color-primary 100%
      );
      background: linear-gradient(
        to bottom,
        $color-secondary 0%,
        $color-primary 100%
      );
}
.style-btn:hover {
  filter: brightness(1.15);
  box-shadow:  1px 4px 8px $color-stronggrey;
}