.footer {
    display:flex;
    width: 100%;
    background: $color-stronggrey;
    height: 200px;
    h4 {
        font-family:'Shrikhand';
        font-size: 20px;
        color: $color-white;
        margin-left: 20px;
    }
    p{
        line-height: 50%;
        color: $color-white;
        margin-left: 20px;
    }
}